@using Sitecore.Mvc
@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage


<div class="col-12 col-md-9" id="cwbContent">
    @Html.Sitecore().Placeholder("xblogmain")
</div>

<div class="col-12 col-md-3" id="cwbContactForm">
    <div class="cwbContactFormFloater">
        @Html.Sitecore().Placeholder("xblogright")
    </div>
</div>
